body{
  background-color:  #FFFFFF
  font-family: Arial, sans-serif;
  }
  
nav ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
 }
 
nav a{
  font-size: 1.2rem;
  color:black;
 }
 nav a:hover{
  color:blue;
 }
h1{
  text-decoration: none;
 }
p{
	font-size: 1.1rem;
  }