@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body{
  background-color:  #FFFFFF
  font-family: 'Roboto', sans-serif;
  margin: 2rem;
  }
  
h1{
	text-algin: center;
	font-size: 2.2rem;
	margin-bottom: 1rem;
	
	
h2{
	margin-top: 2rem;
	font-size:1.6rem;
}


h3{
	margin-top:1.5rem;
}


nav ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
 }
 
 
nav a{
  font-size: 1.2rem;
  color:black;
 }
 
 
 nav a:hover{
  color:blue;
 }
 
 
p{
	font-size: 1.1rem;
	margin-bottom: 1rem;
  }
  
  
audio {
  margin: 1rem auto;
}


.index{
	padding:2rem;
}


.about{
	display: flex;
}


.resume{
	margin-bottom: 2rem;
}